<div [style.margin]="'10px 10px 15px 15px'" [style.display]="'flex'">
  <div [style.width]="'500px'" [style.margin]="'10px 10px 0 0'">
    <card-container>
      <card-container-body>
        <div [style.box-sizing]="'border-box'" [style.min-height]="'262px'" [style.padding]="'32px'">
          <app-card-tab></app-card-tab>
        </div>
      </card-container-body>
    </card-container>
  </div>
  <div [style.width]="'500px'" [style.margin]="'10px 10px 0 0'">
    <card-container>
      <card-container-body>
        <div [style.box-sizing]="'border-box'" [style.min-height]="'262px'" [style.padding]="'32px'">
          <app-card-tab></app-card-tab>
        </div>
      </card-container-body>
    </card-container>
  </div>
  <div [style.width]="'500px'" [style.margin]="'10px 10px 0 0'">
    <card-container>
      <card-container-body>
        <div [style.box-sizing]="'border-box'" [style.min-height]="'262px'" [style.padding]="'32px'">
          <app-card-tab></app-card-tab>
        </div>
      </card-container-body>
    </card-container>
  </div>
  </div>